<section class="services">
  <h3 class="services-title">Our services</h3>
  <article class="services-cards-container">
    <div class="services-card">
      <div class="services-card-icon-container">
        <img
          class="services-card-icon"
          src="/assets/images/services-section/icons/1.svg"
          alt="User interface design icon"
        />
      </div>
      <div class="services-card-text-container">
        <h4 class="services-card-title">User Interface Design</h4>
        <p class="services-card-text body-regular">
          Circle provides you with a stunning user interface design that is
          accessible to everyone.
        </p>
      </div>
      <a
        class="services-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>

    <div class="services-card">
      <div class="services-card-icon-container">
        <img
          class="services-card-icon"
          src="/assets/images/services-section/icons/2.svg"
          alt="User experience design icon"
        />
      </div>
      <div class="services-card-text-container">
        <h4 class="services-card-title">User Experience Design</h4>
        <p class="services-card-text body-regular">
          Circle always focuses on delivering the best user experience to your
          customers.
        </p>
      </div>
      <a
        class="services-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>

    <div class="services-card">
      <div class="services-card-icon-container">
        <img
          class="services-card-icon"
          src="/assets/images/services-section/icons/3.svg"
          alt="Application development icon"
        />
      </div>
      <div class="services-card-text-container">
        <h4 class="services-card-title">Application Development</h4>
        <p class="services-card-text body-regular">
          We develop high-quality mobile and web applications using the latest
          technology stack.
        </p>
      </div>
      <a
        class="services-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>
  </article>
</section>
