<section class="services">
  <h2 class="services-title">Our services</h2>
  <article class="services-cards-container">
    <div class="services-card">
      <img
        class="services-card-icon"
        src="/assets/images/services-section/icons/1.svg"
        alt="User interface design icon"
      />
      <h3 class="services-card-title">User Interface Design</h3>
      <p class="services-card-text">
        Circle provides you with a stunning user interface design that is
        accessible to everyone.
      </p>
      <a class="services-card-anchor" href="/services/ui-design.html"
        >Learn more</a
      >
    </div>

    <div class="services-card">
      <img
        class="services-card-icon"
        src="/assets/images/services-section/icons/2.svg"
        alt="User experience design icon"
      />
      <h3 class="services-card-title">User Experience Design</h3>
      <p class="services-card-text">
        Circle always focuses on delivering the best user experience to your
        customers.
      </p>
      <a class="services-card-anchor" href="/services/ux-design.html"
        >Learn more</a
      >
    </div>

    <div class="services-card">
      <img
        class="services-card-icon"
        src="/assets/images/services-section/icons/3.svg"
        alt="Application development icon"
      />
      <h3 class="services-card-title">Application Development</h3>
      <p class="services-card-text">
        We develop high-quality mobile and web applications using the latest
        technology stack.
      </p>
      <a class="services-card-anchor" href="/services/app-development.html"
        >Learn more</a
      >
    </div>
  </article>
</section>
