<section class="clients">
  <div class="clients-logos-container">
    <img
      src="/assets/images/logos/airbnb-logo.svg"
      alt="Airbnb logo"
      class="clients-logo"
    />
    <img
      src="/assets/images/logos/google-logo.svg"
      alt="Google logo"
      class="clients-logo"
    />
    <img
      src="/assets/images/logos/microsoft-logo.svg"
      alt="Microsoft logo"
      class="clients-logo"
    />
    <img
      src="/assets/images/logos/fedex-logo.svg"
      alt="Fedex logo"
      class="clients-logo"
    />
    <img
      src="/assets/images/logos/amazon-logo.svg"
      alt="Amazon logo"
      class="clients-logo"
    />
  </div>
</section>
