<section class="newsletter">
  <h3 class="newsletter-title">Do you have any questions?</h3>
  <p class="newsletter-text body-regular">Let us help you!</p>
  <form class="newsletter-form" onsubmit="suscribeEvent(event)" method="GET">
    <div class="newsletter-form-container">
      <!-- Label with icon -->
      <label
        for="newsletter-email"
        class="newsletter-label headline-medium"
      ></label>

      <!-- Email input -->
      <div class="newsletter-input-wrapper">
        <img
          src="assets/images/newsletter/icon/mail.svg"
          alt="Mail icon"
          class="newsletter-input-icon"
        />
        <input
          type="email"
          id="newsletter-email"
          name="newsletter-email"
          placeholder="Enter your email"
          required
        />
      </div>

      <!-- Hidden input -->
      <input type="hidden" name="origen" value="newsletter-form" />

      <!-- Submit button -->
      <button
        class="newsletter-form-button blue-button blue-button-big headline-medium"
        type="submit"
      >
        Subscribe
      </button>
    </div>
  </form>
</section>
