<footer class="footer">
  <section class="footer-container">
    <article class="footer-info">
      <img
        src="./assets/images/logos/circle.svg"
        alt="Logo"
        class="footer-info-logo"
      />
      <p class="footer-info-address">
        2972 Westheirmer Rd. Santa Ana, Illinois 85486
      </p>
    </article>

    <article class="footer-nav">
      <nav class="footer-nav-list-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#" class="footer-link">Team</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#services" class="footer-link">Services</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-link">About Us</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-link">Press</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#projects" class="footer-link">Projects</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </article>
  </section>
</footer>
