<header class="header">
  <section class="header-container">
    <article class="header-mobile">
      <a href="/index.html#home" class="logo">
        <img
          src="/assets/images/logos/circle.svg"
          alt="Logo"
          class="header-logo"
        />
      </a>
      <button class="header-toggle" aria-label="Toggle navigation">☰</button>
    </article>

    <article class="header-menu">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li>
            <button
              class="header-button-mobile button-hidden blue-button headline-medium"
            ></button>
          </li>
          <li class="header-nav-list-item headline-medium">
            <a href="/index.html#home">Home</a>
          </li>
          <li class="header-nav-list-item headline-medium">
            <a href="/pages/bonus/projects.html">Projects</a>
          </li>
          <li class="header-nav-list-item headline-medium">
            <a href="/index.html#services">Services</a>
          </li>
          <li>
            <a href="/pages/contact.html">
              <button class="header-button-mobile blue-button headline-medium">
                Contact Us
              </button>
            </a>
          </li>
        </ul>
      </nav>
    </article>

    <article class="header-button-container">
      <a href="/pages/contact.html">
        <button class="header-button-desktop blue-button headline-medium">
          Contact Us
        </button>
      </a>
    </article>
  </section>
</header>
