<section class="hero">
  <article class="hero-content">
    <h1 class="hero-title">Empower Your Business With Stunning Design!</h1>
    <p class="hero-text">Circle is a digital design and development studio.</p>
    <p class="hero-text">
      We design and develop astonishing websites and mobile apps.
    </p>
    <div class="hero-buttons-container">
      <button class="hero-button blue-button">Get in touch</button>
      <button class="hero-button ghost-button">See our work</button>
    </div>
  </article>

  <article class="hero-images-container">
    <img
      src="/assets/images/hero-section/hero-image.png"
      alt="Hero image"
      class="hero-image"
    />
    <img
      src="/assets/images/hero-section/card-1.png"
      alt="Choose your card"
      class="hero-card hero-card-1"
    />
    <img
      src="/assets/images/hero-section/card-2.png"
      alt="Project has been accepted"
      class="hero-card hero-card-2"
    />
  </article>
</section>
