<section class="testimonial">
  <article class="testimonial-faces">
    <img
      src="./assets/images/testimonial-section/memoji-1.png"
      alt="Smiling client face"
      class="testimonial-face testimonial-face-1"
    />
    <img
      src="./assets/images/testimonial-section/memoji-2.png"
      alt="Smiling client face"
      class="testimonial-face testimonial-face-2"
    />
    <img
      src="./assets/images/testimonial-section/memoji-3.png"
      alt="Smiling client face"
      class="testimonial-face testimonial-face-3"
    />
    <img
      src="./assets/images/testimonial-section/memoji-4.png"
      alt="Smiling client face"
      class="testimonial-face testimonial-face-4"
    />
  </article>

  <article class="testimonial-content">
    <h3 class="h3">Hear What Our Clients Have To Say</h3>
    <p class="testimonial-content-quote body-medium">
      "Circle helped us through every stage of our startup. <br />
      We really enjoyed working with you."
    </p>
    <div class="testimonial-profile">
      <img
        src="./assets/images/testimonial-section/profile.png"
        alt="Profile photo of client"
        class="testimonial-profile-img"
      />
      <div class="testimonial-profile-text">
        <p class="caption-1">Kristin Watson</p>
        <p class="caption-2">Booking.com</p>
      </div>
    </div>
  </article>
</section>
