<section class="recent-projects">
  <h3 class="project-card-title">Recent Projects</h3>
  <article class="project-card-container">
    <div class="project-card">
      <div class="project-card-icon-container">
        <img
          class="project-card-icon"
          src="/assets/images/projects-section/1.jpg"
          alt="Project image"
        />
      </div>
      <div class="project-card-text-container">
        <h4 class="project-card-title">Simplify</h4>
        <p class="project-card-text body-regular">I Desing & App DEvelopment</p>
      </div>
      <a
        class="project-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>

    <div class="project-card">
      <div class="project-card-icon-container">
        <img
          class="project-card-icon"
          src="/assets/images/projects-section/2.jpg"
          alt="Project image"
        />
      </div>
      <div class="project-card-text-container">
        <h4 class="project-card-title">Dashcoin</h4>
        <p class="project-card-text body-regular">Web Development</p>
      </div>
      <a
        class="project-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>

    <div class="project-card">
      <div class="project-card-icon-container">
        <img
          class="project-card-icon"
          src="/assets/images/projects-section/3.jpg"
          alt="Project image"
        />
      </div>
      <div class="project-card-text-container">
        <h4 class="project-card-title">Vectorify</h4>
        <p class="project-card-text body-regular">User Experience Design</p>
      </div>
      <a
        class="project-card-anchor headline-regular"
        href="/pages/bonus/404.html"
        >Learn more</a
      >
    </div>
  </article>
</section>
