<section class="newsletter">
  <h2 class="newsletter-title">Do you have any questions?</h2>
  <p class="newsletter-text">Let us help you!</p>
  <div class="newsletter-form-container">
    <form
      class="newsletter-form"
      action="We have sent you an email with the next steps."
      method="GET"
    >
      <!-- Label with icon -->
      <label for="newsletter-email" class="newsletter-label">
        <img
          src="./assets/images/newsletter/icon/mail.svg"
          alt="Mail icon"
          class="newsletter-label-icon"
        />
        Enter your email
      </label>

      <!-- Email input -->
      <input
        type="email"
        id="newsletter-email"
        name="newsletter-email"
        placeholder="ejemplo@correo.com"
        required
      />

      <!-- Hidden input -->
      <input type="hidden" name="origen" value="newsletter-form" />

      <!-- Submit button -->
      <button class="newsletter-form-button blue-button" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</section>
