:root {
  --dark-blue: #072ac8;
  --medium-blue: #43d2ff;
  --soft-blue: #a2d6f9;
  --light-blue: #d1edff;
  --background-main: #f2f4fc;
  --white-letter: #ecf7ff;
  --dark-grey: #292e47;
  --medium-grey: #6b708d;
  --yellow: #ffc600;
  --white: rgba(255, 255, 255, 0.966);
}
