body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.body-medium {
  font-size: 24px;
  font-weight: 500;
}

.body-regular {
  font-size: 20px;
  font-weight: 400;
}

.headline-regular {
  font-size: 17px;
  font-weight: 400;
}

.headline-medium {
  font-size: 17px;
  font-weight: 500;
}

.caption-1 {
  font-size: 15px;
  font-weight: 400;
}

.caption-2 {
  font-size: 13px;
  font-weight: 400;
}
