@import "_colors.css";
@import "_fonts.css";
@import "_typography.css";
@import "_spacing.css";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body
  > *:not([data-component="component-header"]):not(
    [data-component="component-footer"]
  ) {
  flex: 1;
}

[data-component="component-footer"] {
  margin-top: auto;
}

body {
  background-color: var(--background-main);
  text-align: left;
}

h1,
h2,
h3,
h4 {
  color: var(--dark-grey);
}

.body-medium,
.body-regular,
.headline-medium,
.headline-regular,
.caption-1,
.caption-2 {
  text-decoration: none;
  color: var(--medium-grey);
}

.blue-button {
  background-color: var(--dark-blue);
  color: var(--white-letter);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
  width: var(--button-width-default);
  height: var(--button-height-default);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.blue-button-big {
  background-color: var(--dark-blue);
  color: var(--white-letter);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
  width: var(--button-width-big);
  height: var(--button-height-big);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.blue-button:hover,
.blue-button-big:hover {
  color: var(--yellow);
}

.hidden {
  display: none;
}
